* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#011151, #4768e9d1, #010d3d );
}
.form-body {
    width: 100%;
    max-width: 350px;
    padding: 25px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 1px #fff  ;
    margin: 10px;
}
@media (max-width: 400px) {
    .form-body {
     margin: 20px;
    }
}
.form-body {
background: rgba(255, 255, 255, 0.145);
box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    }
.form-body img {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    filter: drop-shadow(0 4px 6px rgb(0, 0, 0));
}
.text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #fff;
    background: linear-gradient(to right, #150447, #da04c4);
    background-clip: text; 
    -webkit-text-fill-color: transparent;
    animation: fade 1.5s ease;
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);}
    to {
        opacity: 1;
        transform: translateY(0)}
}
    .form-body input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: transparent;
    border-radius: 10px;
    outline: none;
}
.field{
    position: relative;  
    width: 100%;
}   
.field input{
margin-top: 20px;
box-sizing: border-box;
}
.field .fa-eye-slash{
    position: absolute;
    right: 50px;
    top: 50%;
    cursor: pointer;
    color: #fff;
    transform : translateY(-50%);
    font-size: 18px;
    line-height: 1;
}
::placeholder {
    font-size: 16px; 
    color: rgba(255, 255, 255, .596);
}
.form-body input:hover {
    transition: .5s;
    border: 1px solid #36c6f1;
    color: #70dbff;
}
.form-body button {
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: #36c5f18e;
    color: #fff;
    transition: all .5s ease;
    font-size: 16px;
    cursor: pointer;
}
.form-body button:hover {
    background-color: #36c6f1;
    box-shadow: 0 4px 15px rgba(54, 198, 241, 0.4);
}